.App {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #525252;
  font-size: 16px;
  background: #fff;
}

.App-logo {
  height: 10rem;
}

.App-header {
  background: url(./assets/background.jpg) top center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #525252;
}

.Header-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  color: #525252;
}

.App-title {
  font-size: 82px;
  font-weight: 100;
  letter-spacing: -5px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.Subtitle {
  font-size: 32px;
  font-weight: 200;
  margin: 0 0 10px 0;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.App-content {
  background-color: #f0f2f1;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Content-title {
  font-weight: 200;
}

.Content-technos {
  display: flex;
  flex-direction: row;
}

.Panel {
  width: 100%;
  max-width: 900px;
  background: #fff;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.Facebook-button-container {
  align-self: start;
  margin: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 12px 0px;
}

tr:nth-child(even) {
  background: #f2f3f2
}
